<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
   
    <style>
        {#asset /asset/bootstrap.min.css @encoding=utf8}
        @font-face {
            font-family: 'THSarabunNew';
            src: url({#asset /asset/THSarabunNew.ttf @encoding=dataURI});
            format('truetype');
        }
        
        * {
            font-family: 'THSarabunNew';
        }
        
        body {
            font-size: 25px;
        }
        
    </style>
</head>

<body>
	<p>&nbsp;</p>
	<div style="page-break-before: always;"></div>
	<p>&nbsp;</p>
</body>
</html>
